{% extends "base.html" %}
{% block title %}Drama Producer - 401{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center py-2 mb-4">
                <h1>401</h1>
                <h2>You cannot access this page</h2>
                <div class="d-grid gap-2">
                    <a href="/login" class="btn btn-primary" type="button">Login?</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}