{% extends "base.html" %}
{% block title %}Drama Producer Administration{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center py-2 mb-4">
                <i class="fa-solid fa-masks-theater fa-2xl me-2" style="color: #00c0c3;"></i>
            </div>
            <hr>
            <div class="d-grid gap-2 mt-4">
                <a href="/admin/production/" class="btn btn-lg btn-danger">Create Production</a>
                <a href="/admin/productions/" class="btn btn-lg btn-danger">View Productions</a>
            </div>
        </div>
    </div>
{% endblock %}