{% extends "base.html" %}
{% block title %}Level Up - Registration Check-In{% endblock %}
{% block script %}
<script>
    setTimeout(function () {
       window.location.href = "https://pollev.com/erinperry443"; //will redirect to your blog page (an ex: blog.html)
    }, 3000); //will call the function after 2 secs.
</script>
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center py-2 mb-4">
                <img src="https://s3.amazonaws.com/levelup-program.com/images/level-up-header-logo.png" width="100%" alt="Level Up"/>
                <h1 class="my-5">{{ result|safe }}</h1>
                <p class="text-muted">You will be redirected to our opening survey in 3 seconds</p>
            </div>
        </div>
    </div>
{% endblock %}