{% extends "base.html" %}
{% block title %}Level Up - Course Roster{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center py-2 mb-4">
                <img src="https://s3.amazonaws.com/levelup-program.com/images/level-up-header-logo.png" width="100%" alt="Level Up"/>
                <h1 class="fs-3 my-3">{{ event.name }}</h1>
            </div>
            <table class="table table-striped align-middle">
                <thead>
                    <tr>
                        <th>Last Name</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Attendance QR</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {% for r in registrations %}
                    <tr>
                        <td>{{ r.last_name.capitalize() }}</td>
                        <td>{{ r.first_name.capitalize() }}</td>
                        <td>{{ r.corp_email }}</td>
                        <td>{{ r.status.upper() }}</td>
                        <td class="text-center">
                            <div>
                                {{ r.uid|makeQR('https://registration.levelup-program.com/check-in/')|safe }}
                            </div>
                            <div>
                                <a class="btn btn-primary btn-sm" href="/check-in/{{ r.uid }}">
                                    Check-in
                                </a>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}