{% extends "base.html" %}
{% block title %}Level Up{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center py-2 mb-4">
                <img src="https://s3.amazonaws.com/levelup-program.com/images/Level-Up-logo-sm.png" width="100%" alt="Level Up"/>
            </div>
            <hr>
            <div class="d-grid gap-2 mt-4">
                {% if request.cookies.access_token_cookie is not defined %}
                <a href="/login" class="btn btn-lg btn-danger"><i class="fa-solid fa-key"></i>&nbsp; Login or Sign-up</a>
                {% endif %}
                <a href="/register/" class="btn btn-lg btn-warning"><i class="fa-solid fa-clipboard-list"></i>&nbsp; Register for an event</a>
            </div>
        </div>
    </div>
{% endblock %}