{% extends "base.html" %}
{% block title %}Drama Producer{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center py-2 mb-4">
                <i class="fa-solid fa-masks-theater fa-2xl me-2" style="color: #00c0c3;"></i>
            </div>
            <hr>
            <div class="d-grid gap-2 mt-4">
                {% if request.cookies.access_token_cookie is not defined %}
                <a href="/login" class="btn btn-lg btn-danger"><i class="fa-solid fa-key"></i>&nbsp; Login or Sign-up</a>
                {% endif %}
                <a href="/register/" class="btn btn-lg btn-warning"><i class="fa-solid fa-clipboard-list"></i>&nbsp; Register for an event</a>
            </div>
        </div>
    </div>
{% endblock %}