{% extends "base.html" %}
{% block title %}Production List{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="text-center py-2 mb-3">
                <i class="fa-solid fa-masks-theater fa-2xl me-2" style="color: #00c0c3;"></i>
                <h1 class="mt-2">Productions</h1>
            </div>
            <div>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <tbody class="table-group-divider">
                            {% for production in productions|sort(attribute="name") %}
                                <tr>
                                    <td>
                                        {% if production.status.lower() == 'open' %}
                                            <i class="fa-solid fa-lock-open"></i>
                                        {% elif production.status.lower() == 'closed' %}
                                            <i class="fa-solid fa-lock"></i>
                                        {% else %}
                                            {{ production.status.upper() }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        <div style="position:relative;">
                                            <a class="stretched-link" href="/admin/production/{{ production.uid }}">{{ production.name }}</a><br>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}