{% extends "base.html" %}
{% block title %}Level Up - Registration Cancelled{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center py-2 mb-4">
                <img src="https://s3.amazonaws.com/levelup-program.com/images/level-up-header-logo.png" width="100%" alt="Level Up"/>
                <h1 class="display-1 my-5">We're sorry to see you go!</h1>
                <h2>Your registration has been cancelled and any relevant information has been sent to the email addresses you originally provided.</h2>
            </div>
        </div>
    </div>
{% endblock %}