{% extends "base.html" %}
{% block title %}Level Up - Team Details{% endblock %}
{% block style %}
<style>
    .no-bullet {
        list-style: none;
    }
</style>
{% endblock %}
{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="text-center py-2 mb-4">
                <img src="https://s3.amazonaws.com/levelup-program.com/images/level-up-header-logo.png" width="100%" alt="Level Up"/>
            </div>
            <div>
                <h1>Team Details / {{ team.name.capitalize() }}</h1>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>#</th>
                                <td>{{ team.team_number }}</td>
                            </tr>
                            <tr>
                                <th>Name</th>
                                <td>{{ team.name.capitalize() }}</td>
                            </tr>
                                <th>Size</th>
                                <td>{{ team.num_members }}</td>
                            </tr>
                            <tr>
                                <th>Tech Stack</th>
                                <td>
                                    {% if team.tech_stack.lower() == 'python' %}
                                        <i class="fa-brands fa-python me-2"></i>
                                    {% elif team.tech_stack.lower() == 'java' %}
                                        <i class="fa-brands fa-java me-2"></i>
                                    {% elif team.tech_stack.lower() == 'dotnet' %}
                                        <i class="fa-brands fa-microsoft me-2"></i>
                                    {% endif %}
                                    {{ team.tech_stack.capitalize() }}
                                </td>
                            </tr>
                            <tr>
                                <th>Repo URL</th>
                                <td>
                                    <a href="{{ team.repo_url }}" target="_blank">
                                        {% if team.repo_url %}
                                            <i class="fa-brands fa-github me-2"></i>{{ team.repo_url }}
                                        {% else %}
                                            <i class="fa-solid fa-arrows-rotate me-2"></i>Your repository is still being created. Check back here later.
                                        {% endif %}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <th>Environment URLs</th>
                                <td>
                                    <ul class="ps-1">
                                    {% if team.env_urls %}
                                        {% for url in team.env_urls %}
                                            <li class="no-bullet">
                                                <i class="fa-solid fa-laptop-code me-2"></i>
                                                <a href="{{ url }}" target="_blank">{{ url }}</a>
                                            </li>
                                        {% endfor %}
                                    {% else %}
                                        <li class="no-bullet">
                                            <i class="fa-solid fa-arrows-rotate me-2"></i>Your environments are still being created. Check back here later.
                                        </li>
                                    {% endif %}
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}